*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url('images/wall.jpg');
   
    background-position: 100px 100px 100px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-size: 1800px;
}
.circle
{
    height: 100px;
    width: 100px;
    
    
}